* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f5f2;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px;
    height: 100vh;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 30pt;
}

.header p {
    margin: -4px 0 20px;
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.658);
}

.header .add-book button {
    border: none;
    background-color: #08a3a3;
    padding: 10px 28px;
    border-radius: 8px;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
    transition: transform 0.2s;
}

.header .add-book button:hover {
    transform: scale(1.1);
}

.main {
    border: none;
    border-radius: 20px;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 500px;
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: start;
    padding: 10px;
}

.cards .img img {
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.cards .img img:hover {
    transform: scale(1.2);
}

.cards .card {
    background-color: #ffffff;
    color: #333;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
    min-height: 200px;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.cards .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.cards .card h2 {
    font-size: 16pt;
    margin-bottom: 4px;
}

.cards .card p {
    margin: 4px 0;
    font-size: 10pt;
}

.cards .card .check,
.cards .card .no-check {
    border: none;
    color: white;
    font-weight: bold;
    margin: 5px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.cards .card .check {
    background-color: #4CAF50;
}

.cards .card .check:hover {
    background-color: #3ea043;
    transform: scale(1.1);
}

.cards .card .no-check {
    background-color: #f44336;
}

.cards .card .no-check:hover {
    background-color: #d9362b;
    transform: scale(1.1);
}

/* Estilizando o form */

.main-form {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    background-color: #f8f5f2;

    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-form form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    width: 300px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 32px;
    height: 450px;
    width: 450px;
}

.main-form span{
    color: red;
}

.main-form form input,
.main-form form select {
    outline: none;
    border: none;
    height: 70px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding-left: 12px;
    border-radius: 8px;
    font-size: 11pt;
}

.main-form label {
    font-weight: bold;
}

.main-form button {
    border: none;
    background-color: #08a3a3;
    padding: 10px 28px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
    margin-top: 5px;
    transition: transform 0.2s;
}

.main-form button:hover {
    transform: scale(1.05);
}

/* tags adicionadas via js */
.view-form,
.view-form * {
    display: none;
}

.blur-all {
    filter: blur(12px);
}

.img-x img {
    height: 30px;
    position: absolute;
    top: 4%;
    right: 6%;
    cursor: pointer;
    transition: transform 0.2s;
}

.img-x img:hover {
    transform: scale(1.2);
}

.check-no-view {
    display: none;
}